<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CURRICULUM BATMAN</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="s_info_p">
        <div>
            <img class="imgIcon imgIconBatman" src="../img/batman.png" alt="imagen">
            <a href="../index.html">Curriculum Rodrigo</a>
        </div>
        <h1 class="info">CURRICULUM VITAE DE BRUCE WAYNE</h1>
</header>
    <main class="main-batman">
        <section>
            <h2 class="info">DATOS PERSONALES</h2>
            <ul>
                <li><p><span class="datos_p">Nombre completo:</span> Bruce Wayne</p></li>
                <li><p><span class="datos_p">Fecha de nacimiento:</span> 01/05/1939</p></li>
                <li><p><span class="datos_p">Lugar de nacimiento:</span> Gotham City</p></li>
            </ul>
        </section>

        <section>
            <h2 class="info">FORMACION ACADEMICA</h2>
            <p class="info_p">
                <strong>1956-1961:</strong>
                Universidad del espantapajaros
                <br>
                Licenciatura en aeronautica
            </p>
            <p class="info_p">
                <strong>1952-1956:</strong>
                Secundario Gotham
                <br>
                Bachiller con especializacion en trucos
            </p>
        </section>

        <section>
            <h2 class="info">EXPERIENCIA LABORAL</h2>
            <p class="info_p">
                <strong>1975-1985:</strong>
                Desocupado
                <br>
                Sin trabajo porque se me rompio el batimovil
            </p>
            <p class="info_p">
                <strong>1965-1975:</strong>
                Cazavillanos y demas chusma
                <br>
                Atrape a Gatubela, a Joker, a Victor Fries lo deje porque se me congelo la capa
            </p>
            <p class="info_p">
                <strong>1962-1965:</strong>
                Aprediz de superheroes
                <br>
                Hice pasantia con superman. Opte por usar mascara porque no pude aprender a peinarme el rulo
            </p>
            
        </section>

    </main>
    <footer>
        <span>0810 - BATMAN </span>
            <img class="iconos" src="../img/instagramLogo.png" alt="icon instagram"> 
            <img class="iconos" src="../img/linkedinLogo.png" alt="icon linkedin"> 
    </footer>
</body>
</html>